/* ----------------------------
header 
------------------------------*/
.wrapper header {
  height: 80px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  margin-top: -16px;
  z-index: 1000;
}

.wrapper header .logo img {
  width: 70%;
}

.wrapper header .menubtn {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  position: relative;
  padding-top: 20px;
}

.wrapper header .menubtn div {
  width: 30px;
  height: 2px;
  background-color: #00c8c8;
  margin-bottom: 8px;
}

.wrapper header .menu {
  display: none;
}

/* ----------------------------
mv
------------------------------*/
.mv {
  margin-top: 80px;
  padding-top: 280px;
  background-image: url(../img/bg_mv.jpg);
  background-size: 1920px;
  height: 800px;
}

.mv .icatch {
  padding: 30px;
  width: 60%;
  background-color: #00c8c8;
  color: #fff;
}

.mv .icatch h1 {
  font-size: 54px;
}

/* ----------------------------
news
------------------------------*/
.news {
  padding: 40px 0 50px;
}
.news .list {
  width: 600px;
  margin: 0 auto;
  border-top: 1px solid #cdcdcd;
}

.news .list .item {
  border-bottom: 1px solid #cdcdcd;
  padding: 10px 0;
}

.news .list .item a {
  transition: .3s;
  display: inline-block;
}
.news .list .item a:hover {
  opacity: 0.6;
  color: #00c8c8;
}
.news .list .item p {
  color: #000000;

}

/* ----------------------------
about
------------------------------*/
.about {
  padding: 40px 0 50px;
}
.about .box {
  width: 70%;
  padding: 80px 30px;
  margin-bottom: 70px;
  background-color: #00c8c8;
}
.about .right {
  margin-left: auto;
}
.about .box.right .txt {
  margin-right: auto;
  margin-left: 0;
}
.about .box .txt {
  padding: 20px;
  width: 40%;
  margin-left: auto;
}
.about .box .img {
  width: 60%;
}
.about .box .txt .ttl2 {
  font-size: 24px;
  margin-bottom: 15px;
}
.about .box .txt p {
  color: #fff;
}

/* ----------------------------
works
------------------------------*/
.works {
  padding: 40px 0 50px;
}
.works .item {
  width: 30%;
  border: 1px solid #00c8c8;
  border-radius: 50%;
  padding: 20px;
}
.works .item .icon {
  text-align: center;
}
.works .item .icon i {
  font-size: 56px;
  color: #00c8c8;
}
.works .item .ttl2 {
  text-align: center;
  color: #00c8c8;
}
.works .item .txt {
  color: #00c8c8;
}

/* ----------------------------
footer 
------------------------------*/
